body {
    background: linear-gradient(102.63deg, #6FC2D9 0%, #D7B358 100%);
    background-attachment: fixed;
}

@media only screen and (min-width: 400px) {
    .background_square {
        background: #FFFFFF;
        border-radius: 24px;
        margin-right: auto;
        margin-left: auto;

        padding-top: 20px;

        width: 50%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        overflow: visible;
    }

    .background_circle {
        position: relative;
        top: 2rem;
        z-index: 1000 !important;
        background: #ffffff;

        margin-right: auto;
        margin-left: auto;

        margin-top: 17vh;
        width: 5rem;
        height: 5rem;
        border-radius: 100%;

        align-items: center;
        text-align: center;
    }


    .img_notification {

        width: 32px;
        height: 32px;
        left: 50px;
        top: -10px;
        position: absolute;
    }

    .search-container {
        align-self: center;
        align-items: center;
        padding: 20px;
        width: 50vw;
    }

    .search-container form {
        color: #555;
        display: flex;
        border: 1px solid black;
        border-radius: 50px;
        padding: 20px 5px;
    }

    .search-container input[type="text"] {
        border: none;
        font-size: 24px;
        width: 100%;
        background: transparent;
    }

    .search-container input[type="image"] {
        border: none;
        width: 40px;
        height: 40px;
    }
}

.logo {
    max-width: 400px;
    width: 40vw;
}


.search-container :focus-visible {
    outline: none;
}


@media only screen and (max-width: 399px) {
    .background_square {
        background: #FFFFFF;
        border-radius: 24px;

        margin-right: auto;
        margin-left: auto;

        width: 50%;
        padding-top: 20px;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        overflow: visible;
    }

    .background_circle {
        position: relative;
        top: 1em;

        background: #ffffff;
        z-index: 1000 !important;
        margin-right: auto;
        margin-left: auto;

        margin-top: 17vh;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;

        align-items: center;
        text-align: center;
    }

    .img_notification {
        position: absolute;

        left: 30px;
        top: -10px;

        width: 32px;
        height: 32px;
    }
}
.search-container {
    align-self: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}
@media only screen and (min-width: 200px) and (max-width: 399px) {
    .search-container form {
        color: #555;
        display: flex;
        border: 1px solid black;
        border-radius: 20px;
        padding: 5px;
    }

    .search-container input[type="text"] {
        border: none;
        font-size: 10px;
        width: 100%;
        background: transparent;
    }

    .search-container input[type="image"] {
        border: none;
        width: 20px;
        height: 20px;
    }

}

@media only screen and (max-width: 199px) {
    .search-container form {
        color: #555;
        display: flex;
        border: 1px solid black;
        border-radius: 20px;
        padding: 5px;
    }

    .search-container input[type="text"] {
        border: none;
        font-size: 10px;
        width: 100%;
        background: transparent;
    }

    .search-container input[type="image"] {
        border: none;
        width: 0;
        height: 0;
    }

}

.img_account {
    padding: 10%;
    width: 100%;
    height: 100%;
}