body
{
    background: linear-gradient(102.63deg, #6FC2D9 0%, #D7B358 100%) fixed;
    font-family: 'Segoe UI';
}

.search-container button
{
    border-radius: 20px;
    height: 100%;
    width: fit-content;
    background: white;
    color: #555;
    text-align: left;
    font-size: 24px;
    padding: 10px 15px;
    margin: 0;
}

#modal_open:hover
{
    background-color: lightgray;
    text-decoration: none;
}

#create_img
{
    height: 40px;
    width: auto;
    vertical-align: middle;
}

#edit-modalPopup
{
    padding-top: 50px;
}

h1
{
    height: auto;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;

    padding: 10px;

    text-align: center;
    margin-bottom: 1vh;
    margin-top: 0;

    color: #000000;
}

input
{
    height: 6vh;
    width: 100%;
    margin-bottom: 1vh;
    font-size: 18px;
    border-radius: 6px;
}

label
{
    height: 6vh;
    width: fit-content;

    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 32px;

    text-align: left;

    color: #000000;
    display: flex;
}

.condition_container
{
    display: flex;
    width: 100%;
    margin: 0;
}

select
{
    height: 6vh;
    width: auto;
    font-size: 18px;
    margin-bottom: 1vh;
    margin-left: 5px;
    border-radius: 6px;
    border: 2px solid;
    left: 0;
}

.image_container
{
    width: 100%;
    margin: 0;
}

#edit-image
{
    height: 175px;
    padding-left: 10px;
    padding-bottom: 10px
}

.new_image_container
{
    padding-left: 20%;
}

input[type=file]
{
    margin-left: 5px;
    width: 235px;
}

textarea
{
    height: 6vh;
    width: 100%;
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid;
}

button:hover
{
    background-color: var(--sg-gold-clicked);
    text-decoration: none;
}

#deleteListingBtn
{
    background-color: #E85F5C;
}

#deleteListingBtn and #modifyListingBtn
{
    width: 100px;
}

#deleteListingBtn:hover
{
    background-color: #EC807E;
}

button
{
    height: 40px;
}

@media only screen and (min-width: 890px)
{
    button
    {
        width: 20%;
    }
}

@media only screen and (min-width: 650px)
{
    .image_container {
        display: flex;
    }
}

@media only screen and (max-width: 699px)
{
    .new_image_container
    {
        padding-left: 5px;
    }
}

@media only screen and (max-width: 670px)
{
    .image_container {
        display: block;
        align-content: start;
    }
}

@media only screen and (max-height: 549px)
{
    #modalPopup
    {
        padding-top: 10vh;
    }
}

@media only screen and (max-height: 669px)
{
    #edit-modalPopup
    {
        padding-top: 3vh;
    }
}

