body
{
    background: linear-gradient(102.63deg, #6FC2D9 0%, #D7B358 100%) fixed;
    margin-top: auto;
    margin-bottom: auto;
    color: #000000;
}

h1
{
    height: auto;
    width: 100%;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;

    text-align: center;
    margin: 0;

    color: #000000;
}

img
{
    height: 101px;
    width: 80px;
}

label
{
    height: 32px;
    width: 90%;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;

    text-align: left;

    color: #000000;
    display: flex;

    margin-right: auto;
    margin-left: auto;
}

input
{
    width: 90%;
    box-sizing: border-box;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid #000000;

    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
}

.register
{
    width: 100%;
    font-weight: 400;
    text-align: center;
    display: block;
}

button
{
    display: block;
}

#login
{
    margin-left: auto;
    margin-right: auto;
}

#signup
{
    color: black;
    padding: 0;
}

a
{
    color: black;
    padding-left: 0;
}

@media only screen and (max-width: 479px)
{
    .rectangle
    {
        width: 90%;
    }
}

@media only screen and (max-height: 454px)
{
    .rectangle
    {
        height: fit-content;
    }

    img
    {
        height: 18vh;
        width: auto;
        margin-top: 5px;
    }

    input
    {
        height: 10vh;
    }

    button
    {
        margin: 5px auto;
    }
}