* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    align-content: center;
    align-items: center;
    font: var(--font);
}

button {
    background: var(--sg-gold);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    border:none;
    cursor: pointer;

    margin: 10px;
    font-style: normal;
    font-weight: 30;
    font-size: var(--font-size-button);
    line-height: 32px;
    /* or 89% */

    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

button:hover {
    background-color: var(--sg-gold-clicked);
    text-decoration: none;
}

:focus {
    border: var(--sg-bronze);
    color: #555555;
}

/*Remove */
a {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}

.main {
    display: inline-flex;
}

.btn-holder {
    display:flex;
    flex-direction: column;
}

/* MODAL */

/* The Modal (background) */
.modal_bg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    backdrop-filter: blur(2px);
}

/* Modal Content */
.modal_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 80%;

    border-radius: 32px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* The Close Button */
.modal_close {
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal_close:hover,
.modal_close:focus {
    cursor: pointer;
}

.background_circle {
    position: absolute;
    top: 10px;
    left: 5px;
    background: #ffffff;

    max-height:50px;
    max-width: 50px;


    margin-right: auto;
    margin-left: auto;
    border-radius: 100%;

    align-items: center;
    text-align: center;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.img_notification {

    width: 32px;
    height: 32px;
    left: 30px;
    top: -10px;
    position: absolute;
}

.btn_createListing
{
    left: 5px;
    display:block;
    position: relative;

    width: 50px;
    height: 50px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search-container :focus-visible {
    outline: none;
}

.img_account {
    padding: 10%;
    width: 100%;
    height: 100%;
}

/* Start listing */
.listingBG {
    margin-top: 10px;
    height: 70vh;
    clip-path: inset(0 0 0 0);
    overflow-y:scroll;
    margin-left: 50px;
    margin-right: 5px
}

/* Float three columns side by side */
.listingCard-column {
    float: left;
    width: 33%;
    padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.listingCard-row {
    margin: 0 10px;
}

/* Clear floats after the columns */
.listingCard-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .listingCard-column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.listingCard {
    display: block;
    background: rgb(251, 251, 251);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    cursor:pointer;
    max-width: 300px;
}

.listing-priceCond
{
    position: relative;
    width: 100%;
}

.listing-price
{
    position: absolute;
    color: white;
    margin-top: 20px;
    line-height:  50px;
    font-size: clamp( 18px,3vw, 30px );

    width:40%;
    max-width: 150px;
    min-width: 60px;

    height: 50px;

    background-color:#95CD95;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}
.listing-cond
{
    position: absolute;
    color: white;
    right: 0;
    margin-top: 20px;
    line-height:  50px;
    font-size: clamp( 18px,3vw, 30px );

    width:40%;
    max-width: 150px;
    min-width: 60px;

    height: 50px;

    /* Assume the condition is good to reduce popin color effects */
    background-color:rgba(111, 194, 217, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

.listing-picture
{
    vertical-align: middle;
    margin-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    max-width: 200px;
    max-height: 200px;
}
.listing-text
{
    padding-left: 10px;
    padding-right: 10px;
}